.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 146px;
  font-size: 0.75rem;
  color: #fff;
  background-color: #475050;
}
