.article {
  width: 100%;

  .article-item {
    display: flex;
    margin-bottom: 5vw;
    padding: 3vw;
    width: 100%;
    border-radius: 3vw;
    background-color: rgba(243,233,221, 0.3);
    box-shadow: 0 0 1vw #ccc;
    transform: scale(1);
    transform-origin: center;
    transition: all 0.3s;

    .left-side {
      display: flex;
      width: 35%;

      img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        border-radius: 2vw;
        transform-origin: center;
        object-fit: contain;
      }
    }

    .right-side {
      flex: 1;
      display: flex;
      max-width: 100%;
      flex-direction: column;
      padding: 0 0 0 5vw;

      .tags-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .article-tag {
          margin: 0 2vw 2vw 2vw;
          padding: 0 8px;
          font-size: 0.7rem;
          border-radius: 1vw;
          line-height: 20px;
        }

        .article-tag-more {
          display: block;
          position: relative;
          padding: 0 1vw;
          height: 1.15rem;
          font-size: 0.75rem;
          line-height: 1.15rem;
          background-color: #ccc;
          border-radius: 1vw;

          .icon-right {
            font-size: 0.75rem;
          }

          .tags-sub-list {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            background-color: #fff;
          }
        }
      }

      .article-title {
        width: 100%;
        height: 1.35rem;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8rem;
        font-weight: 700;
      }

      .article-subTitle {
        // flex: 1;
        width: 100%;
        min-height: 40px;
        font-size: 0.7rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin: 2px 0;
      }
    }

    .article-item-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 0.75rem;
    }
  }
  // .article-item-hide{
  // 	margin: 12vh auto;
  // 	transform-origin: center;
  // 	transform: scale(0.1);
  // 	transition: all .8s;
  // }
  .section-title {
    font-family: "微软雅黑";
  }
}
