.showcase {
    position: relative;
    height: 100%;
    scroll-snap-align: start;
    .blogInfo {
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      padding-bottom: 100px;
      width: 200px;
      backdrop-filter: blur(2px);
      transform: translateX(-50%);
      .avatar-container {
        display: flex;
        justify-content: center;
  
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }
      .name {
        font-size: 18px;
        padding: 15px 0;
      }
      .short-desc {
        font-size: 16px;
      }
    }
    .home-down {
      position: absolute;
      bottom: 30px;
      left: 50%;
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      animation: move 1.4s ease-in-out infinite;
    }

    @keyframes move {
      0% {
        transform: translateX(-50%) translateY(-10px);
      }
      50% {
        transform: translateX(-50%) translateY(10px);
      }
      100% {
        transform: translateX(-50%) translateY(-10px);
      }
    }
  }